In [2]:
print("Al- Afzal Digital Skiils")

Al- Afzal Digital Skiils

# variable

In [7]:
x = 5
y = 9
z = x + y
print(f"the sum of {x} + {y} = {z}")

the sum of 5 + 9 = 14

the sum of ... + .... = ....

In [11]:
x = int(input("Enter the value of x"))
y = int(input("Enter the value of Y"))
z = x + y
print(f"the sum of {x} + {y} = {z}")

Enter the value of x23
Enter the value of Y45
the sum of 23 + 45 = 68

In [12]:
type(z)

int

In [13]:
w = 5.3
type(w)

float

In [15]:
d = "Ali"
type(d)

str

# list

In [16]:
names_of_days = ["Monday", "Tuesday", "Wednesday","Thursday", "Friday", "Saturday", "Sunday"]

In [17]:
type(names_of_days)

list

In [18]:
numbers = []

In [19]:
type(numbers)

list

In [22]:
print(numbers)
x = int(input("Enter the value of x"))
numbers.append(x)
print(numbers)

[45]
Enter the value of x49
[45, 49]

Slicing

In [37]:
print(names_of_days[0:1]) #It will from monday to wednesday [0:8]

['Monday']

1. append
2. sort
3. reverse
4. pop
5. remove
6. index

In [35]:
students = {"name" : "Ali",
            "Fee" : 5000,
            "Books" : ["English" , "Urdu", "Mathematics"]}

In [45]:
print(students["Books"])

['English', 'Urdu', 'Mathematics']

In [47]:
print(students.get("gender","Not found"))

Not found

In [48]:
students["Fee"] = 6000
print(students)

{'name': 'Ali', 'Fee': 6000, 'Books': ['English', 'Urdu', 'Mathematics']}

In [50]:
students["Gender"] = "M"
print(students)

{'name': 'Ali', 'Fee': 6000, 'Books': ['English', 'Urdu', 'Mathematics'], 'Gender': 'M'}

In [52]:
print(students.keys())

dict_keys(['name', 'Fee', 'Books', 'Gender'])

In [55]:
print(students.values())

dict_values(['Ali', 6000, ['English', 'Urdu', 'Mathematics'], 'M'])

In [57]:
print(students.items())

dict_items([('name', 'Ali'), ('Fee', 6000), ('Books', ['English', 'Urdu', 'Mathematics']), ('Gender', 'M')])